*{
font-family: 'Poppins', sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* Colores a usar:

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
/*Para la sección del Header debemos:

1-Solo para la versión mobile, ocultar el site y el login navbar.
2-Para las versiones desktop y tablet mostrar el site y login navbar, pero ocultar la imagen
del menú hamburguesa.
*/
/* header */
header{
    background-color: #EAC926;
}
/*logo - marcado liebre and search*/
#box__logo__search{
    display: flex;
    align-items: center;
    width: 100vw;
}
#logo{
    width: 50vw;
}
#logo img{
    width: 80%;
    padding: 10px;
}
/*search*/
#search{
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
input{
    background-color: #ebebeb;
    border-radius: 5px;
    width: 60%;
    padding: 5px;
}
.fa-magnifying-glass{
    display: flex;
    align-self: center;
    padding: 7px;
    background-color: #ebebeb;
    border-radius: 5px;
    border: 2px #666 solid;
    margin: 0 5px;
}
#tdc{
    display: flex;
    justify-content: center;
}
#tdc i{
    margin: 0 10px;
}
/*navBar*/
nav{
    display: none;
}
/*boton hamburguesa*/
.burger__menu i{
    padding: 10px;
    background-color: #03264C;
    color: white;
    border-radius: 5px;
    margin: 20px 0;
}
.burger__menu{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
/* 1- Navegación en tablets (ancho mínimo 361 px)
   2- Navegación en desktop (ancho mínimo 769 px)
   3-Solo en el caso mobile la descripción del artículo no se visualizará.

● Agregar box-shadow. Para los dispositivos tablet o de resoluciones superiores,
para ello nos pasaron esta propiedad* con los valores de CSS correspondientes:

box-shadow: 0px 0px 10px rgb(100, 100, 100);
*/

/*----------------MAIN---------------------*/
main{
    background-color: #ebebeb;
    padding-bottom: 25px;
}
/*banner*/
#banner{
    width: 100%;
}
#banner img{
    width: 100%;
}
/* titulos basado en ultima visita y ofertas */
section h3{
    color: #666;
    font-size: 1.5rem;
    text-align: center;
    padding: 40px 0;
}
/*truck*/
.fa-truck, .oferta{
    color: #39b54a;
}
.oferta{
    margin-left: 15px;
}
.fa-truck{
    padding: 8px;
    border: 1px #39b54a solid;
    border-radius: 100%;
}
.trucks{
    display: flex;
    justify-content: end;
}
/*.fa-truck{
    display: block;
    font-size: 16px;
    color: #39b54a;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px #39b54a solid;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    
}*/
.card__product{
    margin-bottom: 40px;
}
.product{
    display: flex;
    justify-content: center;
}
.product img{
    width: 100%;
    padding: 0 10px;
}
.box__info{
    display: inline-flex;
    margin-bottom: 20px;
}
.info{
    background-color: white;
    margin: 0 10px;
    padding: 15px;
}
.description{
    display: none;
}

/* footer */
footer{
    background-color: white;
    padding: 40px 20px 10px;
}
.fa-credit-card, .fa-gift, .fa-user-shield{
    color: #03264C;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 10px 8px;
}
article h4, .info__footer, h6{
    color: #666;
    text-align: center;
    margin: 3px;
}
h6{
    font-weight: lighter;
}
.info__footer{
    margin-bottom: 45px;
}
@media (min-width: 769px){
    /* header - logo - search - cuotas */
    .box__header{
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding-bottom: 100x;
    }
    #box__logo__search{
        width: 70vw;
    }
    input{
        width: 80%;
    }
    #tdc{
        width: 30vw;
        align-items: center;
        justify-content: center;
    }
      /*navBAr*/
    nav{
        display: flex;
        justify-content: space-between;
    }
    li a{
        text-decoration: none;
        color: black;
    }
    ul{
        list-style: none;
        display: flex;
        align-self: center;
    }
    ul li{
        padding: 5px;
    }
    /*boton hamburguesa*/
    .burger__menu{
        display: none;
    }
    /*----------------MAIN---------------------*/
    .box{
        display: flex;
        flex-wrap: wrap;
    }
    .card__product{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        margin: 15px;
    }
    .product img{
        padding: 0;
    }
    .info{
        background-color: white;
        margin: 0;
        padding: 15px;
    }
    .description{
        display: block;
    }
     /*footer*/
     footer section{
        display: flex;
        justify-content: space-around;
    }
    .article__footer{
        margin: 20px;
    }
    h4{
        font-size: 1.2rem;
    }
    .info__footer{
        font-size: 1rem;
    }
}
@media (min-width: 1200px){
    /* header - logo - search - cuotas */
    .box__header{
        display: flex;
        justify-items: center;
    }
    input{
        width: 100%;
    }
    /*navBAr*/
    ul li{
        padding: 20px;
    }
    /*----------------MAIN---------------------*/
    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card__product{
        width: 22%;
    }
}